@keyframes ldio-fjn592nyczu {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(0.26,0.26);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-fjn592nyczu div > div {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #cc232a;
  animation: ldio-fjn592nyczu 2s linear infinite;
}.ldio-fjn592nyczu div:nth-child(1) > div {
  left: 142px;
  top: 86px;
  animation-delay: -1.875s;
}
.ldio-fjn592nyczu > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 156px 100px;
}.ldio-fjn592nyczu div:nth-child(2) > div {
  left: 138px;
  top: 107px;
  animation-delay: -1.75s;
}
.ldio-fjn592nyczu > div:nth-child(2) {
  transform: rotate(22.5deg);
  transform-origin: 152px 121px;
}.ldio-fjn592nyczu div:nth-child(3) > div {
  left: 126px;
  top: 126px;
  animation-delay: -1.625s;
}
.ldio-fjn592nyczu > div:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: 140px 140px;
}.ldio-fjn592nyczu div:nth-child(4) > div {
  left: 107px;
  top: 138px;
  animation-delay: -1.5s;
}
.ldio-fjn592nyczu > div:nth-child(4) {
  transform: rotate(67.5deg);
  transform-origin: 121px 152px;
}.ldio-fjn592nyczu div:nth-child(5) > div {
  left: 86px;
  top: 142px;
  animation-delay: -1.375s;
}
.ldio-fjn592nyczu > div:nth-child(5) {
  transform: rotate(90deg);
  transform-origin: 100px 156px;
}.ldio-fjn592nyczu div:nth-child(6) > div {
  left: 65px;
  top: 138px;
  animation-delay: -1.25s;
}
.ldio-fjn592nyczu > div:nth-child(6) {
  transform: rotate(112.5deg);
  transform-origin: 79px 152px;
}.ldio-fjn592nyczu div:nth-child(7) > div {
  left: 46px;
  top: 126px;
  animation-delay: -1.125s;
}
.ldio-fjn592nyczu > div:nth-child(7) {
  transform: rotate(135deg);
  transform-origin: 60px 140px;
}.ldio-fjn592nyczu div:nth-child(8) > div {
  left: 34px;
  top: 107px;
  animation-delay: -1s;
}
.ldio-fjn592nyczu > div:nth-child(8) {
  transform: rotate(157.5deg);
  transform-origin: 48px 121px;
}.ldio-fjn592nyczu div:nth-child(9) > div {
  left: 30px;
  top: 86px;
  animation-delay: -0.875s;
}
.ldio-fjn592nyczu > div:nth-child(9) {
  transform: rotate(180deg);
  transform-origin: 44px 100px;
}.ldio-fjn592nyczu div:nth-child(10) > div {
  left: 34px;
  top: 65px;
  animation-delay: -0.75s;
}
.ldio-fjn592nyczu > div:nth-child(10) {
  transform: rotate(202.5deg);
  transform-origin: 48px 79px;
}.ldio-fjn592nyczu div:nth-child(11) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.625s;
}
.ldio-fjn592nyczu > div:nth-child(11) {
  transform: rotate(225deg);
  transform-origin: 60px 60px;
}.ldio-fjn592nyczu div:nth-child(12) > div {
  left: 65px;
  top: 34px;
  animation-delay: -0.5s;
}
.ldio-fjn592nyczu > div:nth-child(12) {
  transform: rotate(247.5deg);
  transform-origin: 79px 48px;
}.ldio-fjn592nyczu div:nth-child(13) > div {
  left: 86px;
  top: 30px;
  animation-delay: -0.375s;
}
.ldio-fjn592nyczu > div:nth-child(13) {
  transform: rotate(270deg);
  transform-origin: 100px 44px;
}.ldio-fjn592nyczu div:nth-child(14) > div {
  left: 107px;
  top: 34px;
  animation-delay: -0.25s;
}
.ldio-fjn592nyczu > div:nth-child(14) {
  transform: rotate(292.5deg);
  transform-origin: 121px 48px;
}.ldio-fjn592nyczu div:nth-child(15) > div {
  left: 126px;
  top: 46px;
  animation-delay: -0.125s;
}
.ldio-fjn592nyczu > div:nth-child(15) {
  transform: rotate(315deg);
  transform-origin: 140px 60px;
}.ldio-fjn592nyczu div:nth-child(16) > div {
  left: 138px;
  top: 65px;
  animation-delay: 0s;
}
.ldio-fjn592nyczu > div:nth-child(16) {
  transform: rotate(337.5deg);
  transform-origin: 152px 79px;
}
.loadingio-spinner-spin-quv9nhehd6n {
  width: 200px;
  height: 200px;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-fjn592nyczu {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-fjn592nyczu div { box-sizing: content-box; }
